*{
    margin: 0;
    padding: 0;

}
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Work+Sans&display=swap');

/* Heading Section  */
.heading{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-bottom: 100px;
}
.sub-headin{
    width: 600px;
    float: right;
    margin-top: 200px;
    padding-right: 150px;
}
.sub-headin h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
}
.sub-headin p{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    text-align: right;
    margin-top: 25px;
}
.sub-headin .btn-primary{
    background: #F15B22;
    border: none;
    padding: 10px 20px;
    float: right;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
}


/* My failures Section */
.my-failures-sub{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    margin-bottom: 100px;
    
}
.my-failures-left img{
    width: 469px;
    height: 600px;
}
.my-failures-right{
    margin-left: 100px;
}
.my-failures-right h2{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.my-failures-right p{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
    margin-bottom: 20px;
}
.check-mark li{
    list-style: none;
    padding-bottom: 10px;
}
.check-mark li a{
    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

ion-icon {
    color: green;
    padding-right: 10px;

}

/* My Plan Section */
.my-plan-section{
    margin-bottom: 100px;
}

.my-plan-section h2{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.my-pans-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.my-plans-menu-single{
    text-align: center;
    margin-bottom: 20px;
}
.my-plans-menu-single h3{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 10px;
}
.my-plans-menu-single p{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 10px;
}

/* my-plans-bottom-sections */
.my-plans-bottom-sections{
    background-repeat: no-repeat;
    background-image: url(images/gradient2.png), url(images/watch.png);
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.my-plans-bottom-sections-button{
    margin-left: 100px;
    padding-top: 80px;
}
.my-plans-bottom-sections-button h2{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    width: 400px;
}
.btn-secend{
    background: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    color: #F15B22;
}
 
/* footer */
.footer{
    padding: 0 150px;
    padding-top: 100px;
    position: absolute;
    margin-top: -450px;
}
.footer-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;

}
.footer-right{
    color: #FFFFFF;
    width: 500px;
}
.footer-right h2{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 10px;
}
.footer-right p{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
    
    
}
.footer-right .social img{
    padding-right: 20px;
}

.footer-left h3{
    color: #fff;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.footer-left input{
    background: #151414;
    border: 1px solid #F8F8F8;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: #F8F8F8;
}
.third-button{
    background: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    color: #F15B22;
}


/* Footer Animation */
#animation {
    background: black;
    height: 500px;
    position: relative;


}

#animation ::after{
    content:"" ;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(images/footer-shape1.png);
    animation: hasan 1s linear 1s infinite;
    
}
#animation ::before{
    content:"" ;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(images/footer-shape2.png);
    animation: hasan2 1s linear 1s infinite;
}

@keyframes hasan{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes hasan2{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
